<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <display-name>Blog_Website</display-name>
  <servlet>
    <description></description>
    <display-name>registration</display-name>
    <servlet-name>registration</servlet-name>
    <servlet-class>com.sub.blog.servlets.Registration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registration</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLogin</display-name>
    <servlet-name>UserLogin</servlet-name>
    <servlet-class>com.sub.blog.servlets.UserLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <url-pattern>/UserLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServerMessage</display-name>
    <servlet-name>ServerMessage</servlet-name>
    <servlet-class>com.sub.blog.servlets.ServerMessage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServerMessage</servlet-name>
    <url-pattern>/ServerMessage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.sub.blog.servlets.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateProfile</display-name>
    <servlet-name>UpdateProfile</servlet-name>
    <servlet-class>com.sub.blog.servlets.UpdateProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProfile</servlet-name>
    <url-pattern>/UpdateProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WriteBlog</display-name>
    <servlet-name>WriteBlog</servlet-name>
    <servlet-class>com.sub.blog.servlets.WriteBlog</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WriteBlog</servlet-name>
    <url-pattern>/WriteBlog</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReactionServlet</display-name>
    <servlet-name>ReactionServlet</servlet-name>
    <servlet-class>com.sub.blog.servlets.ReactionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReactionServlet</servlet-name>
    <url-pattern>/Reaction</url-pattern>
  </servlet-mapping>
</web-app>